<% if @question.errors.any? %>
  <div class="alert error">
    <strong>No ha sido posible publicar esta pregunta debido a <%= pluralize(@question.errors.count, "error") %></strong>

    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="ask ask-js">
  <%= form_for(@question) do |f| %>
    <fieldset class="ask_content ask_content-js">
      <div class="notefield">
        <%= f.label :title %>
        <%= f.text_field :title, :placeholder => "Escribe aquí tu pregunta", :class => "question_title-js" %>
      </div>

      <div class="notefield question_desc_field-js">
        <%= f.label :description %>
        <%= f.text_area :description, :rows => "1", :placeholder => "Escribe aquí la descripción (opcional)", :class => "question_desc-js desc-js" %>
      </div>

      <div class="notefield question_tags_field-js">
        <label for="question_tags">Temas</label>
        <input type="text" size="30" placeholder="Escribe aquí los temas separados por comas (opcional)" id="question_tags" name="question_tags" class="question_tags-js">
      </div>
    </fieldset>

    <div class="content_footer ask_footer-js">
      <ul class="menu answers_menu action_menu">
        <li class="menu_item">
          <%= f.button 'Publicar pregunta', class: 'publish_question-js' %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
