<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Escribe aquí tu pregunta" %>

    <%= f.label :description %>
    <%= f.text_area :description, :rows => "1", :placeholder => "Escribe aquí la descripción (opcional)" %>

    <label for="question_tags">Tags</label>
    <input type="text" size="30" placeholder="Escribe aquí los temas separados por comas (opcional)" name="question_tags" id="question_tags">
  </div>

	<div id="ask-box-footer">
	  <button type="submit" class="new-question">Publicar pregunta</button>
	</div>
<% end %>
