<% content_for :javascript do %>
	<%= include_javascripts :question %>
<% end %>

<% meta(:description, @question.title) %>
<% meta(:keywords, @question.description.to_keywords) %>
<% title @question.title %>

<div id="questions-box">
  <ul id="questions-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= link_to( @question.tags.first.name.capitalize, @question.tags.first, :title => "Ir al tema #{@question.tags.first.name.capitalize}") unless @question.tags.empty? %>
      </li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= link_to "Pregunta", @question, :title => "Enlace permanente a #{@question.title}" %>
      </li>
    </ul>

		<ul id="questions-header-action">
      <li class="new-question menu-item">
    	  <%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta"%>
    	</li>
  	</ul>
  </ul>

  <ul id="questions-list">
    <%= render :partial => 'shared/question', :locals => { :question => @question } %>
  </ul>

  <div id="answers-header">
  	<ul id="answers-header-menu">
  	  <!-- to fix -->
  		<li class="menu-item <%= tab_selected?(params[:order]) %>">
				<%= link_to "Votos", question_path(@question, :order => 'votes_count'), :title => "Ordenar respuestas por número de votos", :class => "answers-header-menu-item", :id => "votes_count", :remote => true %>
			</li>
  		<li class="menu-item <%= tab_selected?(params[:order], 'oldest') %>">
				<%= link_to "Antiguas", question_path(@question, :order => 'oldest'), :title => "Ordenar respuestas por antiguas", :class => "answers-header-menu-item", :id => "oldest", :remote => true %>
			</li>
			<li class="menu-item <%= tab_selected?(params[:order], 'created_at') %>">
				<%= link_to "Recientes", question_path(@question, :order => 'active'), :title => "Ordenar respuestas por recientes", :class => "answers-header-menu-item", :id => "active", :remote => true %>
			</li>
  	</ul>
  </div>

  <ul id="answers-list">
    <%= render :partial => 'shared/answers', :locals => { :question => @question } %>
  </ul>

  <%= render 'answers/form' %>
</div>