<% meta(:description, @question.description) %>
<% meta(:keywords, @question.description.to_keywords) %>
<% title @question.title %>

<div id="questions">
  <div class="content_header questions_header">
    <ul class="breadcrumbs" itemprop="breadcrumb">
      <li class="breadcrumb"><%= link_to content_tag(:i, content_tag(:span, "Portada"), :class => "icon-home"), root_path, :title => "Ir a la Portada" %></li>
      <li class="breadcrumb breadcrumb_tag">
        <%= link_to( @question.tags.first.name.capitalize, @question.tags.first, :title => "Ir al tema #{@question.tags.first.name.capitalize}") unless @question.tags.empty? %>
      </li>
      <li class="breadcrumb">
        <p>Pregunta</p>
      </li>
    </ul>

    <ul class="menu action_menu">
      <li class="menu_item">
        <%- if user_signed_in? %>
          <%= link_to content_tag(:i, content_tag(:span, "Nueva pregunta"), :class => "icon-edit"), "#{root_path(:scoped_questions => params[:scoped_questions])}#new_question", :title => "Crea una nueva pregunta", :class => "new_question-icon new_question-js" %>
        <% else -%>
          <%= link_to "Empieza a publicar preguntas", new_user_session_path, :title => "Regístrate o accede para crear una nueva pregunta" %>
        <% end -%>
      </li>
    </ul>
  </div>

  <ul class="questions question-js">
    <%= render :partial => 'shared/question', :locals => { :question => @question } %>
  </ul>
</div>

<div id="answers">
  <div class="content_header answers_header content_header-js answers_header-js">
    <h3 class="title">Respuestas</h3>

    <ul class="menu answers_menu tabbed_menu">
      <li class="menu_item">
        <%= link_to "Votos", question_path(@question, :order => 'votes_count'), :title => "Ordenar respuestas por número de votos", :class => "tab-js #{tab_selected?(params[:order])}", remote: true %>
      </li>

      <li class="menu_item">
        <%= link_to "Antiguas", question_path(@question, :order => 'oldest'), :title => "Ordenar respuestas por antiguas", :class => "tab-js #{tab_selected?(params[:order], 'oldest')}", remote: true %>
      </li>

      <li class="menu_item">
        <%= link_to "Recientes", question_path(@question, :order => 'active'), :title => "Ordenar respuestas por recientes", :class => "tab-js #{tab_selected?(params[:order], 'active')}", remote: true %>
      </li>
    </ul>
  </div>

  <ul class="questions answers answers-js">
    <%= render :partial => 'shared/answers', :locals => { :answers => @question.answers, :valid_answer => @question.valid_answer } %>
  </ul>

  <%= render 'answers/form' %>
</div>
