<% title = title @user.name.blank? ? "Preguntas y respuestas del usuario" : "Preguntas y respuestas de #{@user.name}" %>

<div id="user">
  <div id="questions">
    <div class="content_header questions_header">
      <ul class="breadcrumbs" itemprop="breadcrumb">
        <li class="breadcrumb"><%= link_to content_tag(:i, content_tag(:span, "Portada"), :class => "icon-home"), root_path, :title => "Ir a la Portada" %></li>
        <li class="breadcrumb breadcrumb_tag">
          <%= link_to(user_name(@user), @user, title: title) %>
        </li>
      </ul>

      <%- if user_signed_in? %>
        <ul class="menu action_menu">
          <li class="menu_item"><%= link_to content_tag(:i, content_tag(:span, "Nueva pregunta"), :class => "icon-edit"), "#{root_path}#new_question", :title => "Crea una nueva pregunta", :class => "new_question-icon" %></li>
        </ul>

        <ul class="menu action_menu">
          <li class="menu_item"><%= link_to "Preferencias", edit_user_registration_path, :title => "Ir a las preferencias" %></li>
        </ul>
      <% else -%>
        <%= link_to "Empieza a publicar preguntas", new_user_session_path, :title => "Regístrate o accede para crear una nueva pregunta" %>
      <% end -%>
    </div>

    <div class="content_header answers_header">
      <h3 class="title">Preguntas del usuario</h3>
    </div>

    <ul class="questions">
      <%- if @questions.empty? %>
        <li class="answer no_answers"><%= render 'shared/no_questions' %></li>
      <% else %>
        <%- @questions.each do |question| %>
          <%= render :partial => 'shared/question', :locals => { :question => question } %>
        <% end -%>
      <% end -%>
    </ul>
  </div>

  <div id="answers">
    <div class="content_header answers_header">
      <h3 class="title">Respuestas del usuario</h3>
    </div>

    <ul class="questions answers">
      <%= render :partial => 'shared/answers', locals: { answers: @answers } %>
    </ul>
  </div>
</div>

<div class="content_footer questions_footer-js">
  <ul class="menu answers_menu action_menu">
    <li class="menu_item">
      <%- if user_signed_in? %>
        <%= link_to "Nueva pregunta", "#{root_path}#new_question", title: "Crea una nueva pregunta" %>
      <% else -%>
        <%= link_to "Nueva pregunta", new_user_session_path, title: "Regístrate o accede para crear una nueva pregunta" %>
      <% end -%>
    </li>
  </ul>
</div>
