<h2><%= title @user.name || @user.email %></h2>
<h3>Preguntas del usuario</h3>
<ul id="questions-list">
	<%- @user.questions.each do |question| %>
    <%= render :partial => 'shared/question', :locals => { :question => question } %>
	<% end -%>
</ul> 
<h3>Respuestas del usuario</h3>
<ul id="answers-list">
  <% @user.answers.each do |answer| %>
    <li id="answer-<%= answer.id %>" class="answer">
    	<div class="commands">
  			<div class="votes">
      		<%- if user_signed_in? %>
    				<!-- Positive vote form: Change format (:html to :json) to do this with JS -->
    				<%= form_for(answer.votes.build, :format => :html) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
    					<%= f.hidden_field :value, :value => 1 %>
    					<%= f.hidden_field :votable_id, :value => answer.id %>
    					<%= f.hidden_field :votable_type, :value => answer.class %>
    					<div class="actions">
              	<%= f.submit '+', :id => "vote_submit_#{answer.id}" %>
              </div>
            <% end %>
    				<!-- Negative vote form: Change format (:html to :json) to do this with JS  -->
    				<%= form_for(answer.votes.build, :format => :html) do |f| %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
    					<%= f.hidden_field :value, :value => -1 %>
    					<%= f.hidden_field :votable_id, :value => answer.id %>
    					<%= f.hidden_field :votable_type, :value => answer.class %>
    					<div class="actions">
              	<%= f.submit '-', :id => "vote_submit_#{answer.id}" %>
              </div>
            <% end %>
    				<%= link_to content_tag(:span, "+"), root_path, :title => "Voto positivo", :class => "command-item up" %>
    				<%= link_to content_tag(:span, "-"), root_path, :title => "Voto negativo", :class => "command-item down" %>
          <% else -%>
    				<%= link_to content_tag(:span, "+"), new_user_session_path, :title => "Voto positivo", :class => "command-item up" %>
    				<%= link_to content_tag(:span, "-"), new_user_session_path, :title => "Voto negativo", :class => "command-item down" %>
        	<% end -%>
  			</div>
    	</div>

      <p class="answer-description"><%= answer.content %></p>

      <div class="answer-meta">
        <p>
				Por <%= link_to answer.user.name, answer.user %> hace <abbr title="<%= answer.created_at %>"><%= time_ago_in_words(answer.created_at) %></abbr>
				<%- if current_user === answer.user %> 
					<%= link_to 'editar', edit_question_answer_path(answer.question, answer) %> 
					<%= link_to 'eliminar', [answer.question, answer], :confirm => 'Estás seguro?', :method => :delete %>
				<% end -%>
			</p>
      </div>
    </li> 
  <% end %>
</ul>