<ul class="navbar">
	<li><%= link_to 'Portada', root_path, :class => "first #{selected?('pages', 'home')}" %></li>
	<li><%= link_to 'Acerca de', '/about', :class => selected?('pages', 'about') %></li>
	<li><%= link_to 'Blog', 'http://socorromama.tumblr.com', :target => '_blank' %></li>
	<%- if user_signed_in? %>
    <li><%= link_to 'Perfil', current_user %></li>
    <li>
      <%= link_to(content_tag(:span,content_tag(:span, 'Mi cuenta')), edit_user_registration_path, :class => selected?('users/registrations', 'edit')) %>
  	  <ul>
    		<li>
    		  <img src='<% asset_path "dropdown-arrow.png" %>' alt="" class="dropdown-arrow">
          <%= link_to 'Preferencias', edit_user_registration_path %>
        </li>
    		<li><%= link_to 'Desconectar', destroy_session_path(current_user), :method => :delete %></li>
  		</ul>
		</li>
	<% else -%>
		<li><%= link_to 'Accede', new_user_session_path, :class => selected?('devise/sessions', 'new') %></li>
		<li><%= link_to 'Regístrate', new_user_registration_path, :class => "selected signup" %></li>
	<% end -%>
</ul>
