<li id="question" class="question">
	<%#= link_to content_tag(:span, "☆"), root_path, :title => "Favorito", :class => "command-item star starred" %>

	<div class="commands">
		<div class="replies clearfix">
			<%= link_to question.answers_count, question, :title => "Ir a las respuestas", :class => "comments" %>
			<%= link_to content_tag(:span, "Responder"), question_path(question) + '#new_answer', :title => "Responder", :class => "command-item reply #{'replied' if question.answered?}" %>
		</div>
	</div>

	<h2 class="title"><%= link_to question.title, question, :title => "Enlace permanente a #{question.title}" %></h2>
	<p class="description">
		<pre><%= question.description %></pre>
	</p>

	<div class="meta">
		<ul class="tags">
			<%- question.tags.each do |tag| %>
				<li class="tag">
					<%#= link_to content_tag(:span, "+"), root_path, :title => "Seguir el tema #{tag.name.capitalize}", :class => "tag-follow" %>
					<%= link_to "##{tag.name.capitalize}", tag, :title => "Ir al tema #{tag.name.capitalize}", :class => "tag-link" %>
				</li>
			<% end -%>
		</ul>

		<p>
			Por <%= link_to question.user.name, question.user %> hace <abbr title="<%= question.created_at %>"><%= time_ago_in_words(question.created_at) %></abbr>
			<%- if current_user === question.user %>
				<%= link_to content_tag(:span, 'editar'), edit_question_path(question), :class => "edit", :title => "Editar" %> 
				<%= link_to content_tag(:span, 'eliminar'), [question], :confirm => 'Estás seguro?', :method => :delete, :class => "delete", :title => "Eliminar" %>
			<% end -%>
		</p>
	</div>
</li>