<li class="question">
  <%- if current_user && current_user === question.user %>
    <div class="actions">
      <%#= link_to content_tag(:span, "☆"), root_path, :title => "Favorito" %>
      <%= link_to content_tag(:i, content_tag(:span, "Editar"), :class => "icon-edit"), edit_question_path(question), :title => "Editar" %>
      <%= link_to content_tag(:i, content_tag(:span, "Eliminar"), :class => "icon-trash"), [question], :confirm => 'Estás seguro?', :method => :delete, :title => "Eliminar" %>
    </div>
  <% end -%>

  <div class="buttons buttons-js replies">
    <%= link_to question.answers_count, question, :title => "Ir a las respuestas", :class => "button num" %>
    <%= link_to content_tag(:i, content_tag(:span, "Responder"), :class => "#{question.answered? ? 'icon-ok' : 'icon-share-alt'}"), "#{question_path(question)}#new_answer", :title => "Responder", :class => "button reply reply-js" %>
  </div>

  <h2 class="title"><%= link_to question.title, question, :title => "Enlace permanente a #{question.title}" %></h2>

  <pre class="description"><%= question.description.to_html %></pre>

  <div class="meta clearfix">
    <p>
      <span itemscope itemtype="http://schema.org/Person" class="author"><%= link_to gravatar_image_tag(question.user.email, :alt => question.user.name, :gravatar => {:size => 24}, :itemprop => "image"), question.user, :itemprop => "name", :class => "avatar" %> Por <%= link_to question.user.name, question.user, :itemprop => "name" %></span> hace <abbr title="<%= question.created_at %>"><%= time_ago_in_words(question.created_at) %></abbr>
    </p>

    <ul class="tags">
      <%- question.tags.each do |tag| %>
        <li class="tag">
          <%#= link_to content_tag(:span, "+"), root_path, :title => "Seguir el tema #{tag.name.capitalize}", :class => "tag-follow" %>
          <%= link_to "#{content_tag(:i, content_tag(:span, '#'), :class => 'icon-tag')}#{tag.name.capitalize}".html_safe, tag, :title => "Ir al tema #{tag.name.capitalize}", :class => "tag-link" %>
        </li>
      <% end -%>
    </ul>
  </div>
</li>
