<aside id="description" class="widget">
	<h3>¿Qué es Socorro mamá?</h3>
	<p>Nuestras mamás son un encanto, pero ya están cansadas de que las llamemos para cualquier duda del hogar. Por eso hemos montado Socorro Mamá, que aún no sabe preparar tortilla, pero ya ha aprendido a soltar perlas de madre.</p>
</aside>

<aside id="trending" class="widget">
	<h3>Temas populares</h3>
	<p>Estos son los temas con mayor actividad. Guarda los temas que más te interesen.</p>
	<ul>
		<%- @featured_tags.each do |tag| %>
			<li class="tag">
				<%#= link_to content_tag(:span, "+"), tag, :title => "Sigue el tema #{tag.name.capitalize}", :class => "tag-follow" %>
				<%= link_to "\##{tag.name.capitalize}", tag, :title => "Ve al tema #{tag.name.capitalize}", :class => "tag-link" %> 
				<!-- 16 seguidores -->
			</li>
		<% end -%>
	</ul>
</aside>

<aside id="tuits" class="widget">
	<ul id="twitter_update_list"></ul>
</aside>

<aside id="facebook-box" class="widget">
</aside>

<aside id="share" class="widget">
	<p>Compartir</p>
	<ul>
		<li><%= link_to content_tag(:span, "Twitter"), root_path, :title => "Compartir en Twitter", :class => "share-twitter" %></li>
		<li><%= link_to content_tag(:span, "Facebook"), root_path, :title => "Compartir en Facebook", :class => "share-facebook" %></li>
		<li><%= link_to content_tag(:span, "Email"), root_path, :title => "Compartir por Email", :class => "share-email" %></li>
		<li><%= link_to content_tag(:span, "Share"), root_path, :title => "Compartir en otras redes sociales", :class => "share-social" %></li>
	</ul>
</aside>
