<%- if user_signed_in? %>
	<% @answer ||= @question.answers.build %>
	<%= form_for([@question, @answer]) do |f| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

        <ul>
        <% @answer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="ask_answer">
      <div class="notefield">
        <%= f.label :content %>
        <%= f.text_area :content, :rows => "1", :placeholder => "Escribe aquí tu respuesta", :class => "answer_desc-js desc-js" %>
      </div>
    </fieldset>

    <div class="content_footer answers_footer-js">
      <ul class="menu answers_menu action_menu">
        <li class="menu_item">
          <%= f.button "Publicar respuesta", class: 'new_answer-js' %>
        </li>
      </ul>
    </div>
  <% end %>
<% else %>
  <div class="content_footer">
    <ul class="menu answers_menu action_menu">
      <li class="menu_item">
        <%= link_to "Publicar respuesta", new_user_session_path, :class => "menu_item" %>
      </li>
    </ul>
  </div>
<% end %>
