<%= link_to @question.title, question_answers_path(@question) %>
<%= @question.description %>
<%= @question.user.name %>
<%= @question.answers.count %>
<%= @question.created_at %>

<table>
<% @answers.each do |answer| %>
  <%- unless answer.id.blank? %>
    <tr>
      <td><%= answer.content %></td>
      <td><%= answer.created_at %></td>
      <td><%= answer.user.name %></td>
      <td><%= link_to 'Edit', edit_question_answer_path(@question, answer) %></td>
      <td><%= link_to 'Destroy', [@question, answer], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end -%>
<% end %>
</table>

<br />
<%- if user_signed_in? %>
  <%= render 'answers/form' %>
<% end -%>