<% title("Contacto") %>

<div id="contact" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= link_to("Acerca de", "/about", :title => "Ir a la página de Información") %>
      </li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Contacto</p>
      </li>
    </ul>
	</div>

	<div id="questions-list" class="clearfix">
	  <h2>Contacto</h2>
	  <p>Si quieres hacer una sugerencia o reportar un error, por favor hazlo a través de nuestra página de <a href="http://socorromama.uservoice.com/">UserVoice</a> o haciendo click en la pestaña de "Sugerencias" a la izquierda.</p>
    <p>También puedes contactarnos directamente en <a href="mailto:mama@socorromama.com">mama@socorromama.com</a> y te contestaremos lo más pronto posible, o bien a través del siguiente formulario de contacto:</p>

    <% if @email.present? && @email.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@email.errors.count, "error", "errores") %> enviando el email:</h2>

	      <ul>
	      <% @email.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	
    <form action="/contact" method='post'>
      <fieldset>
        <div>
          <label for="name">nombre*</label>
          <input id="name" name="contact[name]" type="text" value="<%= current_user && current_user.name %>"/>
        </div>
        <div>
          <label for="email">email*</label>
          <input id="email" name="contact[email]" type="text" value="<%= current_user && current_user.email %>" />
        </div>
        <div>
          <label for="subject">asunto</label>
          <input id="subject" name="contact[subject]" type="text" />
        </div>
        <div class="clearfix">
          <label for="message">mensaje*</label>
          <textarea id="message" name="contact[message]"></textarea>
          <p class="tip">(* requeridos)</p>
        </div>
        <div>
          <button type="submit" name="commit" id="contact_submit">Enviar</button>
        </div>
      </fieldset>
    </form>
	</div>
</div>