<%- if user_signed_in? %>
  <div class="ask">
    <%= render 'questions/form' %>
  </div>
<% end -%>

<div class="content_header questions_header">
  <ul class="header_menu tabbed_menu">
    <li class="menu_item">
      <%= link_to "Recientes", root_path(:page => 1), :title => "Ver las preguntas recientes", :class => "questions_header_menu_item questions_header_menu_item_all-js #{tab_selected?(params[:scoped_questions])}", :remote => true %>
    </li>

    <li class="menu_item">
      <%= link_to "Sin responder", root_path(:scoped_questions => 'without_answers', :page => 1), :title => "Ver las preguntas sin responder", :class => "questions_header_menu_item questions_header_menu_item_without_answers-js #{tab_selected?(params[:scoped_questions], 'without_answers')}", :remote => true %>
    </li>

    <li class="menu_item">
      <%= link_to "Populares", root_path(:scoped_questions => 'populars', :page => 1), :title => "Ver las preguntas populares", :class => "questions_header_menu_item questions_header_menu_item_populars-js #{tab_selected?(params[:scoped_questions], 'populars')}", :remote => true %>
    </li>
  </ul>

  <ul class="header_menu action_menu">
    <li class="menu_item">
      <%- if user_signed_in? %>
      <%= link_to content_tag(:i, "", :class => "icon-edit"), "#{root_path(:scoped_questions => params[:scoped_questions])}#new_question", :title => "Crea una nueva pregunta", :class => "new_question_link disabled" %>
      <% else -%>
        <%= link_to content_tag(:i, "", :class => "icon-edit"), new_user_session_path, :title => "Regístrate o accede para crear una nueva pregunta", :class => "new_question_link" %>
      <% end -%>
    </li>
  </ul>
</div>

<ul class="questions_list">
  <%- if @questions.empty? %>
    <li class="answer no_answers">
      <p>Aún no hay preguntas disponibles.</p>
    </li>
  <% else %>
    <%- @questions.each do |question| %>
      <%= render :partial => 'shared/question', :locals => { :question => question } %>
    <% end -%>
  <% end -%>
</ul>

<div class="questions_footer">
  <%= link_to( 'Cargar más', root_path(:scope_questions => params[:scope_questions], :page => ((params[:page].blank? || params[:page].to_i < 1) ? 2 : params[:page].to_i + 1)), :title => "Carga más preguntas", :class => "load-more", :remote => true) unless @question_pages == 1 || params[:page].to_i + 1 > @question_pages %>
  <%- if user_signed_in? %>
  <%= link_to 'Nueva pregunta', "#{root_path(:scoped_questions => params[:scoped_questions])}#new_question", :title => "Crea una nueva pregunta", :class => "new_question_link disabled" %>
  <% else -%>
    <%= link_to 'Nueva pregunta', new_user_session_path, :title => "Regístrate o accede para crear una nueva pregunta", :class => "new_question_link" %>
  <% end -%>
</div>