<% meta(:description, @tag.name) %>
<% meta(:keywords, @tag.questions.first.description.to_keywords) unless @tag.questions.empty? %>
<% title "Consejos de #{@tag.name}" %>

<div id="tag">
  <ul id="questions-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <%= content_tag(:h3, link_to(@tag.name, @tag, :title => "Página de preguntas de #{@tag.name}")) %>
      </li>
    </ul>

		<ul id="tag-header-action" class="questions-header-action">
      <li class="menu-item">
      	<%- if user_signed_in? %>
      		<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question disabled" %>
      	<% else -%>
      	  <%= link_to 'Nueva pregunta', new_user_session_path, :title => "Crea una nueva pregunta", :class => "new-question" %>
        <% end -%>
    	</li>
  	</ul>
  </ul>

  <ul id="questions-list">
		<%- if @tag.questions.empty? %>
			<p>Aún no hay preguntas disponibles.</p>
		<% else %>
  		<%- @tag.questions.each do |question| %>
	      <%= render :partial => 'shared/question', :locals => { :question => question } %>
	  	<% end -%>
		<% end -%>
  </ul> 

  <ul id="questions-footer" class="questions-footer">
    <%- if user_signed_in? %>
  		<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question disabled" %>
  	<% else -%>
  	  <%= link_to 'Nueva pregunta', new_user_session_path, :title => "Crea una nueva pregunta", :class => "new-question" %>
  	<% end -%>
  </ul>
</div>