<% title("Cambiar contraseña") %>

<div id="register" class="static login">
  <div class="content_header static_header content_header-js">
    <ul class="breadcrumbs" itemprop="breadcrumb">
      <li class="breadcrumb"><%= link_to content_tag(:i, content_tag(:span, "Portada"), :class => "icon-home"), root_path, :title => "Ir a la Portada" %></li>
      <li class="breadcrumb"><p>Cambiar contraseña</p></li>
    </ul>
  </div>

  <div class="questions clearfix">
    <div class="fields_group">
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <fieldset>
          <legend>Nueva contraseña</legend>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autofocus: 'autofocus' %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
           <%= f.password_field :password_confirmation %>
          </div>
        </fieldset>

        <ul class="menu answers_menu action_menu">
          <li class="menu_item">
            <%= f.button "Cambiar contraseña!" %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="social">
      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
        <p class="short">
          ¿No has recibido las instrucciones?<br />
          <%= link_to "Volver a enviar", new_confirmation_path(resource_name) %><br />
        </p>
      <% end -%>
    </div>
  </div>
</div>