<% title("Enviar contraseña") %>

<div id="login" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Enviar contraseña</p>
      </li>
    </ul>
	</div>

	<div id="questions-list" class="clearfix">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="clearfix">
        <legend>Enviar contraseña</legend>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </p>
      </fieldset>

      <div class="clearfix">
        <button type="submit" name="commit" id="user_submit">Enviar contraseña!</button>
      </div>
    <% end %>

    <div class="login-sidebar">
      <p class="goto-login"> ¿Ya tienes una cuenta?
        <%- if controller_name != 'sessions' %>
          <%= link_to "Pasa por aquí!", new_session_path(resource_name) %>
        <% end -%>
      </p>
    </div>
	</div>
</div>