<%- if user_signed_in? %>
  <div id="ask-box">
  	<%= render 'questions/form' %> 
  </div>
<% end -%>

<div id="questions-box">
	<div id="questions-header">
		<ul id="questions-header-menu">
			<li <%= tab_selected?(params[:scoped_questions])%>><%= link_to "Recientes", root_path, :title => "Ver las preguntas recientes", :class => "questions-header-menu-item", :id => "all" %></li>
			<li <%= tab_selected?(params[:scoped_questions], 'without_answers')%>><%= link_to "Sin responder", root_path(:scoped_questions => 'without_answers'), :title => "Ver las preguntas sin responder", :class => "questions-header-menu-item", :id => "without_answers" %></li>
			<li <%= tab_selected?(params[:scoped_questions], 'populars')%>><%= link_to "Populares", root_path(:scoped_questions => 'populars'), :title => "Ver las preguntas populares", :class => "questions-header-menu-item", :id => "populars" %></li>
		</ul>
	</div>

	<ul id="questions-list">
		<%- if @questions.empty? %>
			Aún no hay preguntas disponibles.
		<% else %>
			<%- @questions.each do |question| %>
				<li class="question">
					<%#= link_to content_tag(:span, "☆"), root_path, :title => "Favorito", :class => "command-item star starred" %>

					<div class="commands">
						<div class="replies clearfix">
							<%= link_to question.answers_count, question, :title => "Ir a las respuestas", :class => "comments" %>
							<%= link_to content_tag(:span, "Responder"), question_path(question) + '#new_answer', :title => "Responder", :class => "command-item reply #{'replied' if question.answered?}" %>
						</div>
					</div>

					<h2 class="question-title"><%= link_to question.title, question, :title => "Enlace permanente a #{question.title}" %></h2>
					<p class="question-description"><%= question.description %></p>

					<div class="question-meta">
						<ul class="tags">
							<%- question.tags.each do |tag| %>
								<li class="tag">
									<%#= link_to content_tag(:span, "+"), root_path, :title => "Seguir el tema #{tag.name.capitalize}", :class => "tag-follow" %>
									<%= link_to "##{tag.name.capitalize}", tag, :title => "Ir al tema #{tag.name.capitalize}", :class => "tag-link" %>
								</li>
							<% end -%>
						</ul>

						<p>
							Por <%= link_to question.user.name, root_path %> hace <%= time_ago_in_words(question.created_at) %> 
							<%- if current_user === question.user %>
								<%= link_to 'editar', edit_question_path(question) %> 
								<%= link_to 'eliminar', [question], :confirm => 'Estás seguro?', :method => :delete %>
							<% end -%>
						</p>
					</div>
				</li>
			<% end -%>
		<% end -%>
	</ul>

	<div id="questions-footer">
		<%= link_to 'Cargar más', "javascript:void(0);", :title => "Carga más preguntas", :class => "load-more" %>
		<%- if user_signed_in? %>
			<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question" %>
		<% end -%>
	</div>
</div>