<% content_for :javascript do %>
	<%= include_javascripts :home %>
<% end %>

<%- if user_signed_in? %>
  <div id="ask">
  	<%= render 'questions/form' %> 
  </div>
<% end -%>

<div id="questions-box">
	<div id="questions-header">
		<ul id="questions-header-menu">
		  <!-- to fix -->
			<li class="menu-item <%= tab_selected?(params[:scoped_questions]) %>">
				<%= link_to "Recientes", root_path(:page => 1), :title => "Ver las preguntas recientes", :class => "questions-header-menu-item", :id => "all", :remote => true %>
			</li>
			<li class="menu-item <%= tab_selected?(params[:scoped_questions], 'without_answers') %>">
				<%= link_to "Sin responder", root_path(:scoped_questions => 'without_answers', :page => 1), :title => "Ver las preguntas sin responder", :class => "questions-header-menu-item", :id => "without_answers", :remote => true %>
			</li>
			<li class="menu-item <%= tab_selected?(params[:scoped_questions], 'populars') %>">
				<%= link_to "Populares", root_path(:scoped_questions => 'populars', :page => 1), :title => "Ver las preguntas populares", :class => "questions-header-menu-item", :id => "populars", :remote => true %>
			</li>
		</ul>

		<ul id="questions-header-action">
      <li class="menu-item new-question">
    		<%- if user_signed_in? %>
    			<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question" %>
    		<% else -%>
    		  <%= link_to 'Nueva pregunta', new_user_session_path, :title => "Crea una nueva pregunta" %>
    		<% end -%>
    	</li>
    </ul>
	</div>

	<ul id="questions-list">
		<%- if @questions.empty? %>
			<p>Aún no hay preguntas disponibles.</p>
		<% else %>
			<%- @questions.each do |question| %>
				<%= render :partial => 'shared/question', :locals => { :question => question } %>
			<% end -%>
		<% end -%>
	</ul>

	<div id="questions-footer" class="questions-footer">
		<%= link_to( 'Cargar más', root_path(:scope_questions => params[:scope_questions], :page => ((params[:page].blank? || params[:page].to_i < 1) ? 2 : params[:page].to_i + 1)), :title => "Carga más preguntas", :class => "load-more", :remote => true) unless @question_pages == 1 || params[:page].to_i + 1 > @question_pages %>
		<%- if user_signed_in? %>
			<%= link_to 'Nueva pregunta', root_path(:scoped_questions => params[:scoped_questions]) + '#new_question', :title => "Crea una nueva pregunta", :class => "new-question" %>
		<% else -%>
		  <%= link_to 'Nueva pregunta', new_user_session_path, :title => "Crea una nueva pregunta", :class => "new-question" %>
		<% end -%>
	</div>
</div>