<%- if user_signed_in? %>
  <div id="ask-box">
  	<%= render 'questions/form' %> 
  </div>
<% end -%>

<div id="questions-box">
	<div id="questions-header">
		<ul id="questions-header-menu">
			<li><%= link_to "Recientes", root_path, :title => "Ver las preguntas recientes", :class => "questions-header-menu-item selected" %></li>
			<li><%= link_to "Sin responder", root_path, :title => "Ver las preguntas sin responder", :class => "questions-header-menu-item" %></li>
			<li><%= link_to "Populares", root_path, :title => "Ver las preguntas populares", :class => "questions-header-menu-item" %></li>
		</ul>
	</div>

	<ul id="questions-list">
		<%- if @questions.empty? %>
		  Aún no hay preguntas disponibles.
		<% else %>
		  <%- @questions.each do |question| %>
  			<li class="question">
  				<div class="question-commands">
  					<div class="replies clearfix">
  						<%= link_to question.answers.count, question, :title => "Ver las respuestas", :class => "comments" %>
  						<%= link_to content_tag(:span, "Responder"), root_path, :title => "Responder", :class => "question-command-item reply" %>
  					</div>

  					<div class="votes">
  						<%= link_to content_tag(:span, "+"), root_path, :title => "Voto positivo", :class => "question-command-item up" %>
  						<%= link_to content_tag(:span, "-"), root_path, :title => "Voto negativo", :class => "question-command-item down" %>
  					</div>
  				</div>

  				<h2 class="question-title"><%= link_to question.title, question, :title => "Enlace permanente a #{question.title}" %></h2>
  				<p class="question-description"><%= question.description %></p>

  				<div class="question-meta">
  					<ul class="question-tags">
  						<li class="question-tag"><%= link_to content_tag(:span, "+"), root_path, :title => "Sigue el tema Cocina", :class => "tag-follow" %><%= link_to "Cocina", root_path, :title => "Ve al tema Cocina", :class => "question-tag-link" %></li>
  						<li class="question-tag"><%= link_to content_tag(:span, "+"), root_path, :title => "Sigue el tema Limpieza", :class => "tag-follow" %><%= link_to "Limpieza", root_path, :title => "Ve al tema Limpieza", :class => "question-tag-link" %></li>
  						<li class="question-tag"><%= link_to content_tag(:span, "+"), root_path, :title => "Sigue el tema Dinero", :class => "tag-follow" %><%= link_to "Dinero", root_path, :title => "Ve al tema Dinero", :class => "question-tag-link" %></li>
  					</ul>

  					<p>Por <%= link_to question.user.name, root_path %> <%= question.created_at %></p>
  				</div>
  			</li>
  		<% end -%>
		<% end -%>
	</ul>

	<div id="questions-footer">
	</div>
</div>