<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= "#{yield(:title)} — " if yield(:title).present? %>Socorro mamá! &mdash; Consejos de limpieza, recetas y cocina, mantenimiento del hogar y más</title>
  <%= meta(:description) %>
  <%= meta(:keywords) %>
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="wrapper">
    <header class="banner">
      <div class="inner">
        <%= render :partial => "shared/nav_bar" %>

        <%= content_tag(:h1, link_to("Socorro mamá!", root_path, :title => "Ir a la Portada"), :class => "title") %>
      </div>
    </header><!-- .banner -->

    <div class="main clearfix">
      <div class="inner">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if current_user && current_user.email.match(/@example\.com/) %>
          <p>Hemos detectado que tu email no es correcto, te recomendamos cambiarlo: <%= link_to 'editar email', edit_user_registration_path %></p>
        <% end %>

        <div class="content">
          <%= yield %>
        </div><!-- .content -->

        <div class="sidebar">
          <%= render :partial => "shared/sidebar" %>
        </div><!-- .sidebar -->
      </div>
    </div><!-- .main -->

    <footer class="colophon">
      <div class="inner">
        <p><%= link_to 'Socorro mamá!', root_path, :class => "meta" %> es una pequeña idea de <%= link_to "@alv", 'http://twitter.com/alv' %>, <%= link_to "@jrdi", 'http://twitter.com/jrdi' %> y <%= link_to "@matallo", 'http://twitter.com/matallo' %>.</p>

        <ul class="footer-menu">
          <li><%= link_to "Aviso legal", '/legal' %></li>
          <li><%= link_to "Contacto", '/contact' %></li>
        </ul>
      </div>
    </footer><!-- .colophon -->
  </div><!-- .wrapper -->

  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/iHNKbUqetW77XPJHBvxX3A.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23137704-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    <%= yield(:javascript) %>
  </script>
</body>
</html>