<!DOCTYPE html>
<html>
<head>
  <title>Socorro mamá! <%= " - #{yield(:title)}" if yield(:title).present? %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="#wrapper">
		<header>
			<div class="inner">
				<%= render :partial => "devise/shared/nav_bar" %>

				<%= link_to image_tag("socorromama-logo.png", :title => "Go to the Home page", :alt => "Socorro mamá!"), root_path %>
			</div>
		</header>

		<div id="main">
			<div class="inner">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<div id="content">
					<%= yield %>
				</div>
			</div>
		</div>

		<footer>
			<p class="inner">© 2011 <%= link_to 'Socorro mamá!', root_path %>. All right reserved.</p>
		</footer>
	</div>
</body>
</html>
