<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  <title><%= "#{yield(:title)} — " if yield(:title).present? %>Socorro mamá! &mdash; Consejos de limpieza, recetas y cocina, mantenimiento del hogar y más</title>
  <%= include_stylesheets :common, :media => 'all' %>
  <%= include_javascripts :common, :home %>
	<%= meta(:description) %>
	<%= meta(:keywords) %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="#wrapper">
		<header>
			<div class="inner">
				<%= render :partial => "shared/nav_bar" %>

				<h1><%= link_to "Socorro mamá!", root_path, :title => "Ir a la Portada", :class => "title" %></h1>
			</div>
		</header><!-- #banner -->

		<div id="main" class="clearfix">
			<div class="inner">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<div id="content">
					<%= yield %>
				</div><!-- #content -->

				<div id="sidebar">
					<aside id="description" class="widget">
						<h3>¿Qué es Socorro mamá?</h3>
						<p>Nuestras mamás son un encanto, pero ya están cansadas de que las llamemos para cualquier duda del hogar. Por eso hemos montado Socorro Mamá, que aún no sabe preparar tortilla, pero ya ha aprendido a soltar perlas de madre.</p>
					</aside>

					<aside id="trending" class="widget">
						<h3>Temas populares</h3>
						<p>Estos son los temas con mayor actividad. Guarda los temas que más te interesen.</p>
						<ul>
							<%- @featured_tags.each do |tag| %>
								<li class="tag">
									<%= link_to content_tag(:span, "+"), tag, :title => "Sigue el tema #{tag.name.capitalize}", :class => "tag-follow" %>
									<%= link_to tag.name.capitalize, tag, :title => "Ve al tema #{tag.name.capitalize}", :class => "tag-link" %> 
									<!-- 16 seguidores -->
								</li>
							<% end -%>
							<!-- <li class="tag"><%#= link_to content_tag(:span, "+"), root_path, :title => "Deja de seguir el tema Limpieza", :class => "tag-follow tag-followed " %><%#= link_to "Limpieza", root_path, :title => "Ve al tema Limpieza", :class => "tag-link" %> 16 seguidores</li> -->
						</ul>
					</aside>

					<aside id="tuits" class="widget">
						<ul id="twitter_update_list"></ul>
					</aside>

					<aside id="facebook-box" class="widget">
					</aside>

					<aside id="share" class="widget">
						<p>Compartir</p>
						<ul>
							<li><%= link_to content_tag(:span, "Twitter"), root_path, :title => "Compartir en Twitter", :class => "share-twitter" %></li>
							<li><%= link_to content_tag(:span, "Facebook"), root_path, :title => "Compartir en Facebook", :class => "share-facebook" %></li>
							<li><%= link_to content_tag(:span, "Email"), root_path, :title => "Compartir por Email", :class => "share-email" %></li>
							<li><%= link_to content_tag(:span, "Share"), root_path, :title => "Compartir en otras redes sociales", :class => "share-social" %></li>
						</ul>
					</aside>
				</div><!-- #sidebar -->
			</div>
		</div><!-- #main -->

		<footer id="colophon">
			<div class="inner">
				<p><%= link_to 'Socorro mamá!', root_path, :class => "meta" %> es una pequeña idea de <%= link_to "@alv", 'http://twitter.com/alv' %>, <%= link_to "@jrdi", 'http://twitter.com/jrdi' %> y <%= link_to "@matallo", 'http://twitter.com/matallo' %>.</p>
				<ul id="footer-menu">
					<li><%= link_to "Aviso legal", '/legal' %></li>
					<li><%= link_to "Contacto", '/contact' %></li>
				</ul>
			</div>
		</footer><!-- #colophon -->
	</div><!-- #wrapper -->

	<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
	<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/socorromama.json?callback=twitterCallback2&count=1"></script></body>
</html>
