<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= "#{yield(:title)} — " if yield(:title).present? %>Socorro mamá! &mdash; Consejos de limpieza, recetas y cocina, mantenimiento del hogar y más</title>
  <%= meta(:description) %>
  <%= meta(:keywords) %>
  <meta name="viewport" content="width=device-width">

  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="wrapper">
    <header class="banner">
      <div class="inner">
        <h1 class="title"><%= link_to("Socorro mamá!", root_path, :title => "Ir a la Portada") %></h1>

        <ul class="navbar">
          <li><%= link_to 'Portada', root_path, :class => "first #{selected?('pages', 'home')}" %></li>
          <li><%= link_to 'Acerca de', '/about', :class => selected?('pages', 'about') %></li>
          <li><%= link_to 'Blog', 'http://socorromama.tumblr.com', :target => '_blank' %></li>
          <%- if user_signed_in? %>
            <li><%= link_to 'Perfil', current_user %></li>
            <li>
              <%= link_to(content_tag(:span,content_tag(:span, 'Mi cuenta')), edit_user_registration_path, :class => selected?('users/registrations', 'edit')) %>
              <ul>
                <li><%= link_to 'Preferencias', edit_user_registration_path %></li>
                <li><%= link_to 'Desconectar', destroy_session_path(current_user), :method => :delete %></li>
              </ul>
            </li>
          <% else -%>
            <li><%= link_to 'Accede', new_user_session_path, :class => selected?('devise/sessions', 'new') %></li>
            <li><%= link_to 'Regístrate', new_user_registration_path, :class => "selected signup" %></li>
          <% end -%>
        </ul>
      </div>
    </header><!-- .banner -->

    <div class="main clearfix">
      <div class="inner">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if current_user && current_user.email.match(/@example\.com/) %>
          <p>Hemos detectado que tu email no es correcto, te recomendamos cambiarlo: <%= link_to 'editar email', edit_user_registration_path %></p>
        <% end %>

        <div data-pjax-container class="content">
          <%= yield %>
        </div><!-- .content -->

        <div class="sidebar">
          <aside class="description widget">
            <h3>¿Qué es Socorro mamá?</h3>
            <p>Nuestras mamás son un encanto, pero ya están cansadas de que las llamemos para cualquier duda del hogar. Por eso hemos montado Socorro Mamá, que aún no sabe preparar tortilla, pero ya ha aprendido a soltar perlas de madre.</p>
          </aside>

          <aside class="trending widget">
            <h3>Temas populares</h3>
            <p>Estos son los temas con mayor actividad.<!-- Guarda los temas que más te interesen. --></p>
            <% cache "sidebar:featured_tags", :expires_in => 1.hour do %>
              <ul>
                <%- Tag.order('random()').limit(10).each do |tag| %>
                  <li class="tag">
                    <%#= link_to content_tag(:span, "+"), tag, :title => "Sigue el tema #{tag.name.capitalize}", :class => "tag-follow" %>
                    <%= link_to "##{tag.name.capitalize}", tag, :title => "Ve al tema #{tag.name.capitalize}", :class => "tag-link" %> 
                    <!-- 16 seguidores -->
                  </li>
                <% end -%>
              </ul>
            <% end %>
          </aside>

          <aside class="share widget">
          </aside>
        </div><!-- .sidebar -->
      </div>
    </div><!-- .main -->

    <footer class="colophon">
      <div class="inner">
        <p><%= link_to 'Socorro mamá!', root_path, :class => "meta" %> es una pequeña idea de <%= link_to "@alv", 'http://twitter.com/alv' %>, <%= link_to "@jrdi", 'http://twitter.com/jrdi' %> y <%= link_to "@matallo", 'http://twitter.com/matallo' %>.</p>

        <ul class="footer-menu">
          <li><%= link_to "Aviso legal", '/legal' %></li>
          <li><%= link_to "Contacto", '/contact' %></li>
        </ul>
      </div>
    </footer><!-- .colophon -->
  </div><!-- .wrapper -->

  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/iHNKbUqetW77XPJHBvxX3A.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-23137704-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    <%= yield(:javascript) %>
  </script>
</body>
</html>