<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Copse' rel='stylesheet' type='text/css'>
  <title>Socorro mam치! <%= " - #{yield(:title)}" if yield(:title).present? %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="#wrapper">
		<header>
			<div class="inner">
				<%= render :partial => "users/shared/nav_bar" %>

				<h1><%= link_to "Socorro mam치!", root_path, :title => "Go to the Home page", :class => "title" %></h1>
			</div>
		</header><!-- #banner -->

		<div id="main">
			<div class="inner">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<div id="content">
					<%= yield %>
				</div><!-- #content -->
			</div>
		</div><!-- #main -->

		<footer id="colophon">
			<div class="inner">
				<p><%= link_to 'socorro mam치!', root_path, :class => "meta" %> es una peque침a idea de <%= link_to "@alv", 'http://twitter.com/alv' %>, <%= link_to "@jrdi", 'http://twitter.com/jrdi' %> y <%= link_to "@matallo", 'http://twitter.com/matallo' %>.</p>
				<ul id="footer-menu">
					<li><%= link_to "Aviso legal", '/legal' %></li>
					<li><%= link_to "Contacto", '/contact' %></li>
				</ul>
			</div>
		</footer><!-- #colophon -->
	</div><!-- #wrapper -->
</body>
</html>
