<% title("Preferencias") %>

<div id="settings" class="static login">
  <div class="content_header static_header content_header-js">
    <ul class="breadcrumbs" itemprop="breadcrumb">
      <li class="breadcrumb"><%= link_to content_tag(:i, content_tag(:span, "Portada"), :class => "icon-home"), root_path, :title => "Ir a la Portada" %></li>
      <li class="breadcrumb"><p>Preferencias</p></li>
    </ul>

    <ul class="menu action_menu answers_menu">
      <li class="menu_item"><%= link_to content_tag(:i, content_tag(:span, "Nueva pregunta"), :class => "icon-edit"), "#{root_path(:scoped_questions => params[:scoped_questions])}#new_question", :title => "Crea una nueva pregunta", :class => "new_question-icon" %></li>
    </ul>

    <ul class="menu action_menu answers_menu">
      <li class="menu_item"><%= link_to "Ver perfil", current_user %></li>
    </ul>
  </div>

  <div class="questions clearfix">
    <div class="fields_group">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <legend>Preferencias</legend>
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => "autofocus" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>

          <div class="field clearfix">
            <%= f.label :current_password %>
            <%= f.password_field :current_password %>
            <small>(déjala en blanco si no quieres cambiarla)</small>
          </div>
        </fieldset>

        <fieldset>
          <legend>Cambiar contraseña</legend>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %><br />
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="submit_field clearfix">
            <ul class="menu answers_menu action_menu">
              <li class="menu_item">
                <%= f.button "Actualizar" %>
              </li>
            </ul>
          </div>
        </fieldset>
      <% end %>

      <%- if controller_name != 'sessions' %>
        <p>
          ¿Quieres cancelar tu cuenta?<br />
          <%= link_to "Borrar todos mis datos", registration_path(resource_name), :confirm => "¿Estás seguro? No hay marcha atrás.", :method => :delete %>
        </p>
      <% end -%>
    </div>

    <div class="social">
      <figure class="clearfix">
        <%= gravatar_image_tag(resource.email, :alt => resource.name, :gravatar => {:size => 100}, :class => "avatar") %>
      </figure>

      <p><%= link_to "¿Qué es esto?", "http://es.gravatar.com/", target: '_blanck' %></p>

      <%- if devise_mapping.omniauthable? %>
        <p>Enlaza tu perfil de <strong>Facebook</strong> o <strong>Twitter</strong> para usar esta web de forma más cómoda.</p>

        <p>
          <%= link_to content_tag(:span, "Entra con Facebook"), user_omniauth_authorize_path(:facebook), :class => "facebook_connect" %>
          <%= link_to content_tag(:span, "Entra con Twitter"), user_omniauth_authorize_path(:twitter), :class => "twitter_connect" %>
        </p>
      <% end -%>
    </div>
  </div>
</div>
