<% title("Preferencias") %>

<div id="settings" class="static login">
  <div class="content_header static_header content_header-js">
    <ul class="breadcrumbs" itemprop="breadcrumb">
      <li class="breadcrumb"><%= link_to content_tag(:i, content_tag(:span, "Portada"), :class => "icon-home"), root_path, :title => "Ir a la Portada" %></li>
      <li class="breadcrumb"><p>Preferencias</p></li>
    </ul>

    <ul class="menu action_menu answers_menu">
      <li class="menu_item"><%= link_to content_tag(:i, content_tag(:span, "Nueva pregunta"), :class => "icon-edit"), "#{root_path(:scoped_questions => params[:scoped_questions])}#new_question", :title => "Crea una nueva pregunta", :class => "new_question-icon" %></li>
    </ul>

    <ul class="menu action_menu answers_menu">
      <li class="menu_item"><%= link_to "Ver perfil", current_user %></li>
    </ul>
  </div>

  <div class="questions clearfix">
    <div class="fields_group">
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "new_user" }) do |f| %>
        <%= devise_error_messages! %>
        <fieldset>
          <legend>Preferencias</legend>
          <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => "autofocus" %>
          </div>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>

          <div class="field clearfix">
            <%= f.label :current_password %>
            <%= f.password_field :current_password %>
            <small>(déjala en blanco si no quieres cambiarla)</small>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %><br />
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </div>

          <div class="submit_field clearfix">
            <ul class="menu answers_menu action_menu">
              <li class="menu_item">
                <button type="submit" name="commit" id="user_submit">Actualizar</button>
              </li>
            </ul>
          </div>
        </fieldset>
      <% end %>

      <p>¿Quieres cancelar tu cuenta?<br />
        <%- if controller_name != 'sessions' %>
        <%= link_to "Borrar ahora", registration_path(resource_name), :confirm => "¿Estás seguro? No hay marcha atrás.", :method => :delete %>
        <% end -%>
      </p>
    </div>

    <div class="social">
      <figure class="clearfix">
        <%= gravatar_image_tag(resource.email, :alt => resource.name, :gravatar => {:size => 100}, :class => "avatar") %>
      </figure>
      <p><%= link_to "¿Qué es esto?", "http://es.gravatar.com/" %></p>
    </div>
  </div>
</div>
