<% title("Preferencias") %>

<div id="login" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Preferencias</p>
      </li>
    </ul>
	</div>

	<div id="questions-list" class="clearfix">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="clearfix">
        <legend>Preferencias</legend>
        <div>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div>
          <%= f.label :password %>
          <%= f.password_field :password %><br />
          <p class="tip">(dejala en blanco si no quieres cambiarla)</p>
        </div>

        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
      </fieldset>

      <div class="clearfix">
        <button type="submit" name="commit" id="user_submit">Actualizar</button>
      </div>

      <p>
        ¿Quieres cancelar tu cuenta?<br />
          <%- if controller_name != 'sessions' %>
            <%= link_to "Cancelar cuenta", registration_path(resource_name), :confirm => "¿Estás seguro? No hay marcha atrás.", :method => :delete %>
          <% end -%>
      </p>
    <% end %>

		<figure class="avatar huge">
		  <%= gravatar_image_tag(resource.email, :alt => resource.name, :gravatar => {:size => 128}) %>
		</figure>
	  <figcaption><%= link_to "¿Qué es esto?", "http://es.gravatar.com/" %></figcaption>
	</div>
</div>