<% title("Registro") %>

<div id="login" class="static">
	<div id="questions-header" class="answers-header">
    <ul id="breadcrumb" itemprop="breadcrumb">
      <li class="breadcrumb-item breadcrumb-home"><a href="/" title="Ir a la Portada"><span>Portada</span></a></li>
      <li class="breadcrumb-item breadcrumb-tag">
        <p>Registro</p>
      </li>
    </ul>
	</div>

	<div id="questions-list" class="clearfix">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="clearfix">
        <legend>Registro</legend>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </p>

        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>

        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </p>
      </fieldset>

      <div class="clearfix">
        <button type="submit" name="commit" id="user_submit">Crear cuenta!</button>
      </div>
    <% end %>

    <div class="login-sidebar">
      <p class="goto-login"> ¿Ya tienes una cuenta?
        <%- if controller_name != 'sessions' %>
          <%= link_to "Pasa por aquí!", new_session_path(resource_name) %>
        <% end -%>
      </p>

      <p>
        Entra con tu perfil de <strong>Facebook</strong> o <strong>Twitter</strong> para usar esta web de forma más cómoda.
      </p>

      <p>
        <%- if devise_mapping.omniauthable? %>
    	    <%= link_to content_tag(:span, "Entra con Facebook"), omniauth_authorize_path(resource_name, :facebook), :class => "fb-connect" %>
    	    <%= link_to content_tag(:span, "Entra con Twitter"), omniauth_authorize_path(resource_name, :twitter), :class => "twitter-connect" %>
        <% end -%>
      </p>
    </div>
	</div>
</div>